name: release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+b[0-9]+'

env:
  SCCACHE_GHA_ENABLED: 'true'
  RUSTC_WRAPPER: 'sccache'

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    outputs:
      is_beta: ${{ steps.is_beta.outputs.is_beta }}
    environment:
      name: npm
      url: https://www.npmjs.com/package/@dfinity/pic
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: dfinity/ci-tools/actions/setup-python@main

      - name: Setup Commitizen
        uses: dfinity/ci-tools/actions/setup-commitizen@main

      - name: Setup PNPM
        uses: dfinity/ci-tools/actions/setup-pnpm@main

      - name: Determine if Beta Release
        id: is_beta
        run: |
          IS_BETA=$([[ '${{ github.ref_name }}' == *b* ]] && echo true || echo false)
          echo "is_beta=$IS_BETA" >> $GITHUB_OUTPUT

      - name: Build NPM packages
        run: pnpm build

      - name: Generate release notes
        uses: dfinity/ci-tools/actions/generate-release-notes@main

      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
        run: |
          npm pack ./packages/pic/

          release_cmd="npm publish --verbose --access public"
          if [ "${{ steps.is_beta.outputs.is_beta }}" = true ]; then
            release_cmd="$release_cmd --tag beta"
          fi
          release_cmd="$release_cmd ./packages/pic/"
          $release_cmd

      - name: Create Github release
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'dfinity-pic-${{ github.ref_name }}.tgz'
          bodyFile: 'RELEASE_NOTES.md'
          tag: '${{ github.ref_name }}'
          commit: 'main'
          prerelease: ${{ steps.is_beta.outputs.is_beta == true }}
          makeLatest: ${{ steps.is_beta.outputs.is_beta == false }}

  build_docs:
    name: Build Docs
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.is_beta == false }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-pnpm

      - name: Build Docs
        run: pnpm -F docs build

      - name: Fix permissions
        run: |
          chmod -c -R +rX "docs/build/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build/

  deploy_docs:
    name: Deploy Docs
    runs-on: ubuntu-latest
    needs: build_docs
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
